<div class="ss-form">
<form action= "https://docs.google.com/spreadsheet/formResponse?formkey={{formkey}}&amp;ifq"
  id="ss-form" method="post"><br>
  
  <!-- START QUESTIONS -->
   
   {{# exercises }}
     {{{exercise}}}
   {{/ exercises }}
   
  <!-- END QUESTIONS -->
  
  <input name="pageNumber" type="hidden" value="0"> 
  <input name="backupCache" type="hidden" value="">
  <div class="ss-item ss-navigate ss-form-entry">
    <button type="submit" class="btn btn-primary" 
      name="submit" value="Submit">
      <i class="icon-fire icon-white"></i> Submit
    </button>  
    <!-- <input name="submit" type="submit" value="Submit"> -->
  </div>
</form>
<script>
(function() {
  var divs = document.getElementById('ss-form').
  getElementsByTagName('div');
  var numDivs = divs.length;
  for (var j = 0; j < numDivs; j++) {
    if (divs[j].className == 'errorbox-bad') {
      divs[j].lastChild.firstChild.lastChild.focus();
      return;
    }
  }
  for (var i = 0; i < numDivs; i++) {
    var div = divs[i];
    if (div.className == 'ss-form-entry' && div.firstChild && div.firstChild.className == 'ss-q-title') {
      div.lastChild.focus();
      return;
    }
  }
})();
</script>
</div>
